Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Safe_House/maps/Safe_House_BuiltData.uasset
Content/StorageHouse/Maps/Overview_BuiltData.uasset
Content/StorageHouse/Maps/Demonstration_BuiltData.uasset
